header.row {
  padding-bottom: 100px;
}
#search {
  width: 500px;
}
div .row .result {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #191919;

  width: 100%;
  height: 150px;

  overflow: hidden;

  margin: 0 auto;
  margin-bottom: 50px;

  border-bottom: 1px dashed #191919;
  border-top: 1px dashed #191919;

  background: #FFECE5;

  -webkit-animation: appear 4s;
  -moz-animation: appear 4s;
  -o-animation: appear 4s;
  animation: appear 4s;

  -webkit-transition: height 0.3s ease-out;
  -moz-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
}
div .row .result:hover {
  background: #FFFCE5;
  min-height: 150px;
  height: 100%;
}
div .row .result h1 {
  padding: 0 20px;
  border-bottom: 1px dotted #ccc;
}
div .row .result img {
  float: left;
  width: 300px;
  height: 325px;
  padding: 10px 20px;
}
.result big{
}
@-webkit-keyframes appear{
  0% {opacity: 0.1}
  100% {opacity: 1.0};
}
@-moz-keyframes appear{
  0% {opacity: 0.1}
  100% {opacity: 1.0};
}
@-o-keyframes appear{
  0% {opacity: 0.1}
  100% {opacity: 1.0};
}
@keyframes appear{
  0% {opacity: 0.1}
  100% {opacity: 1.0};
}
